body {
	font-family: 'Scheherazade New', serif, Arial, sans-serif, Helvetica,
		sans-serif;
}

.txt-gray-dark {
	color: #474747;
}

.txt-gray {
	color: #696868;
}

.txt-gray-light {
	color: #e0e0e0;
	/* color: #eeeeee; */
	/* color: #f5f5f5; */
}
